// Custom styles.
body {
  background-color: #C7D882;
  //background :url("/my-blog/images/bg.webp")
  background-repeat: no-repeat;
  background-position center;
  background-attachment: fixed;
  background-size: contain;
  color: #353535;
  //background-color #E7F3EA
}

.headband {
  background-color: #354458;
}

.site-meta {
  background: #ACD3DE;

}

.site-title {
  color: #354458;
}

.post-block {
  background-color: rgba(231, 243, 234, 0.75);
}

.post-body {
  background-color: rgba(255, 255, 255, 0)
}

.btn {
  background-color: rgba(231, 243, 234, 0);
  border-color: #ACD3DE;
}

.btn-bar {
  background-color: #354458;
}
.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: $grey-dark;
  text-align: center;
  background:transparent;
}
.sidebar-position-right .sidebar{
  background:rgba(255,255,255,0.4)
}
.header-inner{
  background:rgba(255,255,255,0.4)
}
.menu-item-active a{
  background: rgba(255,255,255,0.5);
}
.post-body h2{
  border-bottom: 1px solid #acd3de;
  box-shadow: 0 1px 1px 0 rgb(172, 211, 222);
}


